#sidebar { 
	margin: -160px 0 0 -900px;
	padding: 17px 25px;
	background: $gray-200;
	border-radius: 4px;
	box-shadow: 0px 0px 7px -3px #000;
	max-width: 278px;
	opacity: 0; 
    z-index: 999;

	ul { 
	    -webkit-padding-start: 0px;
	       -moz-padding-start: 0px;
	    	-ms-padding-start: 0px;
	         -o-padding-start: 0px;
 	            padding-start: 0px;

		li {
			list-style: none;

			& span {
				color: $primary;
				cursor: pointer;
				margin-left: 10px;
				transition: .3s;

				&.active {
					margin-left: 20px;
					text-decoration: underline;
				}

				&:hover,
				&:focus {
					margin-left: 20px;
				}
			}

			& ul {
				margin-bottom: 10px;

				& li {
					margin-bottom: 5px;
				}
			}

		}
	}
}

#duvidas {
	transition: .3s; 
    padding-top: 85px!important;	
}